<% provide :title, t(".title") %>
<div class="match">

  <div class="match--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>
    <div class="match--cards">
      <% @users.each do |user| %>
        <div class="match--card match-card-<%= user.id %>">
        <div class="row">
          <img src="https://placeimg.com/600/300/people">
          <ul>
            <h1>User</h1>
            <hr>
            <h3><li><%= t (".name") %> <%= user.name %></li></h3>
            <li><%= t (".date_of_birth") %> <%= I18n.l(user.date_of_birth) %></li>
              <li><%= t (".gender") %> <%= user.gender %></li>
            <li><%= t (".country") %> <%= user.country_name %></li>
            <li><%= t (".description") %> <%= user.description %></li>
          </ul>
          </div>
          <div class="match--buttons">
            <%= form_for(new_relationship, url: match_pages_path, remote: true) do |f| %>
              <div>
                <%= hidden_field_tag :id, user.id %>
              </div>
              <%= button_tag "", class: "love" do %>
                <i class="fa fa-heart"></i>
              <% end %>
            <% end %>
            <button class="nope float-left"><i class="fa fa-remove"></i></button>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Modal -->
  <%= render "filter" %>
</div>
