<% provide :title, t(".title") %>
<div class="match">
  <div class="bg--img"></div>

  <div class="match--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>
    <div class="match--cards">
      <% @users.each do |user| %>
        <div class="match--card">
          <img src="https://placeimg.com/600/300/people">
          <h3><%= user.name %></h3>
          <h4><%= user.date_of_birth %></h4>
          <p><%= user.description %></p>
          <div class="match--buttons">
            <%= form_for(new_relationship, url: match_pages_path, remote: true) do |f| %>
              <div>
                <%= hidden_field_tag :id, user.id %>
              </div>
              <button id="nope"><i class="fa fa-remove"></i></button>
              <%= button_tag "", id: "love" do %>
                <i class="fa fa-heart"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
</div>
