<% provide :title, t(".title") %>
<div class="match">

  <div class="match--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>
    <div class="match--cards">
      <% @users.each do |user| %>
        <div class="match--card">
          <img src="https://placeimg.com/600/300/people">
          <h3><%= user.name %></h3>
          <p><%= user.description %></p>
          <div class="match--buttons">
            <%= form_for(new_relationship, url: match_pages_path, remote: true) do |f| %>
              <div>
                <%= hidden_field_tag :id, user.id %>
              </div>
              <%= button_tag "", id: "love" do %>
                <i class="fa fa-heart"></i>
              <% end %>
            <% end %>
            <button id="nope"><i class="fa fa-remove"></i></button>
        </div>
      </div>
    <% end %>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>

  <!-- Modal -->
  <%= render "filter" %>
</div>
