<table class="table table-striped table-borderless">
  <caption>
    <%= t ".table_title" %>
    <%= link_to t(".download"), export_path(format: :xlsx), class: "btn btn-success" %>
  </caption>
  <%= render "shared/search" %>
  <thead class="thead-dark">
    <tr>
      <th scope="col">
        <%= sort_link(@search, :id, {}, class: "text-black") do %>
          #
        <% end %>
      </th>
      <th scope="col">
        <%= sort_link(@search, :name, {}, class: "text-black") do %>
          <%= t ".name" %>
        <% end %>
      </th>
      <th scope="col"><%= t ".email" %></th>
      <th scope="col"><%= t ".created_at" %></th>
      <th scope="col"><%= t ".activated" %></th>
      <th scope="col"><%= t ".ad" %></th>
      <th scope="col"><%= t ".gold" %></th>
      <th scope="col"><%= t ".act" %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <td>
          <%= link_to user.name, user_path(id: user.id), class: "link-info"%>
        </td>
        <td><%= user.email %></td>
        <td><%= I18n.l(user.created_at) %></td>
        <td>
          <i class="fa-solid <%= actived_icon(user) %>"></i>
        </td>
        <td>
          <i class="fa-solid <%= admin_icon(user) %>"></i>
        </td>
        <td>
          <span class="badge rounded-pill bg-<%= user.gold? ? "warning" : "secondary" %>"><%= user.type_of %></span>
          <!-- Button trigger modal -->
          <button type="button"
                  class="<%= type_of_btn(user) %> <%= disabled_btn(user) %>"
                  data-bs-toggle="modal"
                  data-bs-target=<%= "#confirmModal" + user.id.to_s %>>
            <%= act(user) %>
          </button>
          <%= render "upgrade_confirm", user: user %>
        </td>
        <td>
          <div class="btn-group btn-block" role="group" aria-label="User actions">
            <%= render "shared/user_info_modal", user: user %>
            <%= button_to "Delete", user, method: :delete, data: { confirm: t(".confirm") }, class: "link-danger bg-light" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-3 border border-success rounded-3">
    <h4><%= t ".import_from_excel" %></h4>
    <%= form_tag import_admin_admin_pages_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag t(".import"), class: "btn btn-success" %>
    <% end %>
  </div>
</div>
<div class="d-flex align-items-center flex-column">
  <%== pagy_bootstrap_nav(@pagy) %>
  <%== pagy_info(@pagy) %>
</div>
