<% provide :title, t(".title") %>
<div class="www-layout">
  <section>
    <div class="gap no-gap signin whitish medium-opacity">
      <div class="bg-image"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="align-self-center">
              <figure><%= image_tag("pngegg.png", alt: "Tinder logo") %></figure>
              <h1><%= t ".welcome" %></h1>
              <p>
                <%= t ".first_intro" %>
                <br>
                <%= t ".second_intro" %>
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="we-login-register">
              <div class="form-title">
                <i class="fa fa-key"></i><%= t ".login" %>
                <span></span>
              </div>
              <%= form_for :session,html: {class: "we-form"}, url: login_path do |f| %>
                <%= f.label :email, t(".name_label") %>
                <%= f.email_field :email, class: "form-control" %>
                <%= f.label :password, t(".password_label") %>
                <%= f.password_field :password, class: "form-control" %>
                <%= f.label :remember_me, class: "check_box" do %>
                  <%= f.check_box :remember_me %>
                  <span><%= t(".remember_me") %></span>
                <% end %>
                <%= f.submit t(".login") %>
              <% end %>
              <a class="forgot underline"><%= t ".forgot_password" %></a>
              <span>
                <%= t ".don't_have_account" %>
                <a class="we-account underline" title="">
                  <%= link_to t(".register"), signup_path %>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
