<% provide :title, t(".title") %>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic">
          <%= image_tag("icons8-tinder-316.png", alt: "Tinder logo") %>
      </div>

      <%= form_for :session, html: {class: "login100-form"}, url: login_path do |f| %>
        <span class="login100-form-title">
          <%= t ".login" %>
        </span>

        <div class="wrap-input100">
          <%= f.email_field :email, class: "input100", placeholder: t(".name_label"), required: true %>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap-input100">
          <%= f.password_field :password, class: "input100", placeholder:t(".password_label"), required: true %>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>

        <div class="container-login100-form-btn">
          <%= f.submit t(".login"), class: "login100-form-btn" %>
        </div>

        <div class="text-center p-t-12"></div>

        <div class="text-center p-t-136">
          <a class="txt2" href="#">
            <%= link_to t(".register"), signup_path %>
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
