<% provide :title, t(".title") %>
<div class="www-layout">
  <section>
    <div class="gap no-gap signin whitish medium-opacity">
      <div class="bg-image"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div>
              <figure><%= image_tag("pngegg.png", alt: "Tinder logo") %></figure>
              <h1><%= t ".welcome" %></h1>
              <p>
                <%= t ".first_intro" %>
                <br>
                <%= t ".second_intro" %>
                  <nav>
                    <ul>
                      <li><%= link_to t("application.en"), locale: :en %></li>
                      <li><%= link_to t("application.vi"), locale: :vi %></li>
                    </ul>
                  </nav>
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="we-login-register">
              <div class="form-title">
                <i class="fa fa-key"></i><%= t ".login" %>
                <span><i class="fa fa-exclamation-circle" ></i> </span>
              </div>
              <form class="we-form">
                <input type="text" placeholder="Account Name" >
                <input [type]="type" placeholder="Password">
                <p class="text-black-50">
                  <i class="fa fa-exclamation-circle"></i><i></i>
                </p>
                <input type="checkbox" ><label><%= t ".remember_me" %></label>
                <button type="submit" data-ripple=""><%= t ".login" %></button>
                <a class="forgot underline" title=""><%= t ".forgot_password" %></a>
              </form>
              <i class="fa-brands fa-square-facebook fa-2x mr-1"></i>

              <i class="fa fa-2x fa-brands fa-google-plus-square  ml-1"></i>

              <span><%= t ".don't_have_account" %><a class="we-account underline" title=""><%= t ".register" %></a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
