<% provide(:title, @user.name) %>
<% if can? :read, @user %>
  <div class="container emp-profile">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="https://placeimg.com/600/300/people">
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            <%= @user.name %>
          </h5>
          <h6>
            <span class="badge badge-pill badge-warning"><%= @user.type_of %></span>
          </h6>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><%= t (".about") %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><%= t (".description") %></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <%= link_to t(".edit_button"), edit_user_path(current_user), class: "profile-edit-btn" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <h5><%= t (".time_line") %></h5>
          <p><%= t (".day_join") %> <%= I18n.l(@user.created_at) %></p><br/>
          <h5><%= t (".follow") %></h5>
          <div class="stats">
            <strong id="contact" class="stat">
              <%= @user.following.count %>
            </strong>
            <button class="btn btn-light"
                    data-toggle="modal"
                    data-target= <%= "#followingModal" + @user.id.to_s %>>
              <%= t ".following" %>
            </button>
            <% if @user.gold? %>
              <strong id="followers" class="stat">
                <%= @user.followers.count %>
              </strong>
              <button id="followerList" class="btn btn-light"
                      data-toggle="modal"
                      data-target= <%= "#followersModal" + @user.id.to_s %>>
                <%= t ".followers" %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label><%= t (".name") %></label>
              </div>
              <div class="col-md-6">
                <p><%= @user.name %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label><%= t (".date_of_birth") %></label>
              </div>
              <div class="col-md-6">
                <p><%= I18n.l(@user.date_of_birth) %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label><%= t (".gender") %></label>
              </div>
              <div class="col-md-6">
                <p><%= @user.gender %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label><%= t (".email") %></label>
              </div>
              <div class="col-md-6">
                <p><%= @user.email %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label><%= t (".facebook")%></label>
              </div>
              <div class="col-md-6">
                <p><%= @user.facebook %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label><%= t (".phone") %></label>
              </div>
              <div class="col-md-6">
                <p><%= @user.phone %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label><%= t (".country") %></label>
              </div>
              <div class="col-md-6">
                <p><%= @user.country_name %></p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-md-6">
                  <p><%= @user.description %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render "shared/followers_list", user: @user %>
<%= render "shared/following_list", user: @user %>
