<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to image_tag("icons8-tinder-16.png", size: "30", alt: t("base_title")), match_path, class: "navbar-brand" %>
  <%= link_to t(".slogan"), match_path, class: "btn btn-light btn-lg", style: "font-family:MsMadi" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <% if current_user %>
        <% if params[:action] == "match" %>
          <li class="nav-item active">
            <button class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
              <i class="fa-solid fa-filter"> <%= t ".fil_btn" %></i>
            </button>
          </li>
        <% end %>
        <% unless params[:controller] == "admin_pages" %>
          <li class="nav-item active">
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                <i class="fa-regular fa-message"></i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Mes_1</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Mes_2</a>
              </div>
            </div>
          </li>
        <% end %>
        <li class="nav-item active">
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
              <i class="fa-regular fa-bell"></i>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Noti_1</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Noti_2</a>
            </div>
          </div>
        </li>

        <li class="nav-item active">
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
              <i class="fa-regular fa-user"> <%= current_user.name %></i>
            </button>
            <div class="dropdown-menu">
              <%= link_to t(".inf_ref"), current_user, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <% if current_user.admin %>
                <%= link_to t(".ad_ref"), admin_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
              <% end %>
              <%= link_to t(".out"), destroy_user_session_path,method: :delete, class: "dropdown-item" %>
            </div>
          </div>
        </li>
      <% end %>
      <li class="nav-item active">
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-language"> <%= t ".lang" %></i>
          </button>
          <div class="dropdown-menu">
            <div class="dropdown-item">
              <%= link_to t("application.en"), locale: :en %>
            </div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item">
              <%= link_to t("application.vi"), locale: :vi %>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
