<p><%= t(".greet") + @user.email %>!</p>

<p><%= t ".warning" %></p>

<p><%= link_to t(".link, "), edit_password_url(@user, reset_password_token: @token) %></p>

<p><%= t ".if_not" %></p>
<p><%= t ".explaination" %></p>
